{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="banner hidden-phone">
    <div class="banner-heading">
        <h1>software that inspires</h1>
    </div>
    <div class="banner-content">
        <h2>Innovative applications on the cutting edge.</h2>
    </div>
</div>

<div class="container main-content">
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <h2>Coming soon.</h2>
            <p>Watch this space.  We'll be releasing more information soon!</p>
        </div>
    </div>
</div>
{% endblock %}
